a {
    text-decoration: none;
}

/* .mantine-InputWrapper-root {
    margin-bottom: 12px;
} */

.mantine-InputWrapper-label {
    margin-bottom: 5px;
}
/* .mantine-Input-wrapper {
    margin-top: 0.5rem;
}

.mantine-InputWrapper-root {
    margin-top: 1.5rem;
} */

.mantine-Table-thead {
    /* background-color: var(--mantine-color-blue-4); */
    /* background-color: var(--mantine-color-gray-0); */
    background-color: var(--mantine-color-blue-0);
    color: var(--mantine-color-blue-6);
    font-size: 15px;
    /* color: #FFFFFF; */
}

.mantine-InputWrapper-label{
    font-size: 15px;
}